*{
   margin: 0px;
   padding: 0px;
}
html, body {
  height: 100%; /* Ensures the HTML and body take up full height */
  margin: 0;
  padding: 0;
}

body {
  background-color: #d9c1ea;
  display: flex; /* Ensures body can flex and expand */
  flex-direction: column;
  min-height: 100vh; /* Ensures body takes at least full viewport height */
}
.header{
  height: 55px;
  border-bottom: 2px solid #cdcacf;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 1000;
}

.nav{
  height: 30px;
  /* margin-top: 15px; */
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  /* margin-top: 10px; */
  margin-bottom: 5px;
}

.nav-child{
  display: flex;
  justify-content: space-between;
  height: 30px;
  margin: 10px;
  align-items: center;
}
.grid-icon{
  margin-right: 10px;
}

.title{
  font-size:xx-large;
  font-weight: bolder;
  color: #7732a8;
}

.title span{
  color: black;
}

.details{
  border: 2px solid #bcb8be;
  padding-top:2px;
  margin: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border-radius:40px;
}

.icon{
  color: #7732a8;
  font-size:x-large;
  font-weight: 300;

}

.bell-icon{
  color: #7732a8;
  font-size:larger;
  font-weight: 300;
  border: 2px solid #7732a8;
  border-radius: 50%;
  padding: 5px;

}

.menu-icon img{
  height: 20px;
  width: 20px;
  padding-top: 5px;
  margin-left: 10px;
}

main{
  padding-top: 57px;
  display: flex;
  flex-grow: 1; /* Ensures main expands */
  min-height: calc(100vh - 57px);
   /* Ensures main takes at least the remaining viewport height */
}

aside {
  width: 200px;
  height: calc(100vh - 57px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 2px solid #bcb8be;
  background-color: white; /* Ensures aside has the background color */
  min-height: 100vh; 
  position: fixed;
  overflow-y: auto;
  
}


.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.container-item {
  flex-shrink: 1;
  font-size: large;
  font-weight: bolder;
  margin-bottom: 2%;
  padding-left: 20px;
  padding-right: 10px;
  margin-top: 10px;
  color: #727172;
  transition: transform 0.3s;
  cursor: pointer;
}

.container-item:hover
{
  transform: scale(1.1);
}
.container-item.active{
  border-left: 5px solid #7732a8;
}

.container-item .item {
  margin-left: 20px;
  padding: 5px;
}




.social-container {
  padding-top: 5px;
  padding-left: 15px;
  padding-bottom: 5px;
  padding-right: 10px;
  background-color: #d9c1ea;
  border-top: 1px solid #ddd;
  margin: 10px;
  margin-bottom: 40%;
  border-radius: 20px;
  flex-grow: 1;
}

.social-container p {
  font-size: large;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.connect img {
  height: 30px;
  width: 30px;
  margin-right: 4px;
  transition: transform 0.3s;
}

.connect img:hover {
  transform: scale(1.1);
}

.main-content {

  flex-grow: 1;
  background-color: #d9c1ea; 
  margin-left: 200px;
  padding: 10px;
  box-sizing: content-box;
}

.main-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px;
  box-sizing: border-box;
  margin-left: 20px;
}

.main-container .first{
  background-color: white;
  border-radius: 20px;
  display: flex;
  padding: 10px;
  flex-grow: 2;
  margin-right: 10px;
  flex-wrap:wrap;
}
.first .banner{
  flex-grow: 1;
}
.main-container .first img{
  height: 270px;
  border-radius: 15px;
  margin-left: 5px;
}

.intro-section{
  margin-left: 10px;
  padding: 10px;
  flex-grow: 2;
}

.intro-section h1{
  font-size: x-large;
  margin-bottom: 10px;
}
.btn-container{
  margin-bottom: 8%;
}
.btn-container button{
  margin-right: 2%;
  padding:3% 7%;
  border-radius: 5px;
  border: none;
  background-color: #d9c1ea;
  text-align: center;
  color:#2e6adb;
  font-weight: bold;
}

.data-container{
  font-size: large;
  font-weight: bold;
  color: #727172;
  margin-top: 3%;
}

.data-container .key{
  margin-right: 5%;
}
.progress{
  margin-top: 4%;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
}

.progress-bar{

  background-color: white;
  border: 1px solid #7732a8;
  height: 7px;
  border-radius: 4px;
  width: 80%;
  position: relative;
}



.progress-in {
  position: absolute;
  height: 100%;
  border-radius: 4px;
  background-color: #7732a8;
}



.percent {
  font-weight: bold;
  color: #727172;
}

.big-btn button
{
  padding: 2% 7%;
  margin-right: 2%;
  border-radius: 5px;
  font-weight: bold;
  font-size: 400;
  cursor: pointer;
}

.big-btn .light{
  background-color: white;
  color: #7732a8;
  border: 2px solid #7732a8;
}

.big-btn .dark{
  color: white;
  background-color: #7732a8;
  border: none;
}
.second{
  background-color:white;
  flex-grow: 1;
  width: 30%;
  border-radius: 20px;
  
}
.module-container{
  display: none;
  visibility: hidden;
  margin-left: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  padding-right:20px;
}

.module-container-info{
  display: flex;
  margin:10px,5px,10px,10px;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
  margin: 10px;
  cursor: pointer;
}

.module-container-info img{
  height: 10px;
  width: 10px;
}

.module-container-info .module-info{
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}

.module-info .module-icon img{
  height: 90%;
  width: 60px;
  margin-right: 20px;
}


.module-info .info{
  display: flex;
  justify-content: space-between;
  width: 55%;
  flex-grow: 2;
  margin-right: 1%;
  padding-right: 5px;
  flex-wrap: wrap;
}
.module-info .info .info-info{
  margin-right: 10px;
}
.module-info .info .module-heading{
  color: #7732a8;
  text-decoration: underline 1px solid #7732a8;
  margin-bottom: 10px;
}

.module-info .info .main-module-heading{
  font-size: larger;
  font-weight: bold;
  margin-bottom: 10px;
}

.module-info .info .time-module-info{
  font-weight: bold;
  color: #727172;
  margin-bottom: 10px;
}

.module-info .info .time-module-info .bullet{
  margin:0 15px;
}

.module-info .grade-info{
  align-content: center;
}
.module-info .grade-info .percent-heading{
  margin-bottom: 10px;
}
.module-container .progress-info{
  width: 30%;
  border-left: 1.5px solid #727172;
  padding: 10px 20px;
  align-content: center;
  
}

.module-container .progress-info .progress-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.progress-container .progress{
  width: 80%;
  flex-grow: 2;
}
.chapter-container{
  width: 101%;
  margin-left: 10px;
  display: none;
 background-color: white;
 border-radius: 20px;
 padding: 5px 0 5px 5px;
}

.chapter-container-start{

  padding: 5px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* margin-right: 10px; */
}
.chapter-container-items
{
  flex-grow: 0;
  width: 35%;
  padding: 5px;
  margin-right: 5px;
  /* flex-grow: 1; */
  
}

.chapter-item{
  background-color: #d9c1ea;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid #bcb8be;
  align-items: center;
  margin: 5px;
  cursor: pointer;
}

.js-chapter-item{
  background-color: white;
  color: #7732a8;
  border: 2px solid #7732a8;
}

.chapter-item:hover{
  background-color: white;
  border: 2px solid #7732a8;
}


.chapter-item .chapter-no{
  font-size: 500;
  font-weight: bold;
  color: #747174;
  margin-bottom: 5px;
}

.js-chapter-item .chapter-no{
  color: #7732a8;
}

.chapter-item .chapter-name{
  font-size: large;
  font-weight: bold;
  color: black;
}

.js-chapter-item .chapter-name{
  color: #7732a8;
}

.chapter-item .arrow img{
  height: 20px;
  width: 20px;
}

.lesson-container{
  flex-grow: 1;
  padding: 10px;
}

.lesson-inner-container{
  margin-right: 10px;
  padding: 25px;
  background-color:white ;
  border: 1px solid #bcb8be;
  border-radius: 10px;
  display: none;
}

.lesson-inner-container.active{
  display: block;
}

.lesson-title{
  font-size: larger;
  font-weight: bolder;
   padding-bottom: 5px;
   margin-bottom: 10px;
}

.lesson-container-info{
  display: flex;
  margin: 10px 0;
  flex-wrap: wrap;
  align-items: center;
}

.lesson-info-section{
  width: 75%;
  background-color:white;
  margin-right: 20px;
  padding: 10px 0;
  border: 1px solid #eeebef;
  border-radius: 40px;
  cursor: pointer;
}

.lesson-info-section:hover{
  background-color: #d9c1ea;
  border: none;
}


.icon-span{
  margin:5px 10px 5px 5px;
  border: 2px solid #7732a8;
  border-radius: 100%;
  background-color: #d9c1ea;
  padding: 3px 5px;
}

.icon-span i{
  color: #7732a8;
}

.lesson-heading{
  font-weight: bold;
  margin-right: 5px;
}

.Revise{
  width: 95px;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(255, 170, 0);
  border-radius: 40px;
  color: white;
  display: flex;
}

.lesson-status-info-ele{
  margin-right: 6px;
  flex-grow: 1;
}

.Completed{
  padding: 10px;
  cursor: pointer;
  background-color: green;
  border-radius: 40px;
  color: white;
}

.Try.again{
  width: 95px;
  padding: 10px;
  cursor: pointer;
  background-color: red;
  border-radius: 40px;
  color: white;
}

.Not.started{
  padding: 10px;
  cursor: pointer;
  background-color: rgba(57, 101, 247, 0.961);
  border-radius: 40px;
  color: white;
}

.capstone-container{
  background-color: #d9c1ea;
  margin:20px;
  border: 1px solid #bcb8be;
  border-radius: 10px;
  display: flex;
  padding-right: 20px;
  align-items: center;
}

.image-container{
  height: 100%;
  width: 20%;
  background-color: #7732a8;
  border-radius: 10px;
  margin-right: 20px;
}

.image-item{
  width: 100%;
  height: 100%;
}
.capstone-main-container{
  flex-grow: 1;
}
.capstone-header-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0px;
  border-bottom: 1px solid #bcb8be;
  align-items: center;
}


.capstone-title{
  font-size: larger;
  font-weight: bolder;
  margin-right: 10px;
}

.capstone-heading i{
  font-size:x-large;
  background-color: #bcb8be;
  color: #d9c1ea;
  border-radius: 50%;
  font-style: italic;
  border: 2px solid #bcb8be;
}

.capstone-guideline{
  font-weight: bold;
  color: #56237b;
}

.capstone-info{
  padding: 5px 0px;
}

.capstone-info-heading{
  font-size: 600;
  color: #747174;
  font-style: italic;
  text-decoration: underline 1px solid #747174;
}

.capstone-info-details{
  display: flex;
  padding: 5px 0px;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
}

.capstone-info-content{
  flex-grow: 1;
  margin-right: 10px;
  color: #747174;
}

.capstone-info-details i{
  background-color: #56237b;
  color: white;
  font-size: larger;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}


